## Converting Data Types in Python

In python we can convert data types such as strings, numbers, sets, tuples and even dictionaries.

**Converting a String to an Integer**

In [8]:
type_int = 7

type(type_int)

int

In [10]:
type_str = '7'

type(type_str)

str

We have two variables **type_int** and **type_str**, if we want to add them it will give us an error, because one stored an integer and other contains a string.

In [15]:
sum_type = type_int + type_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

So we cannot add an integer and a string, but what we can do to add these two numbers is to **convert type_str into an integer**.

In [18]:
type_str_converted = int(type_str) # Coverting a string value to an integer

type(type_str_converted)

int

So that is all that we need to do to convert a string into an integer by just typing **int** and then in parenthesis **()** type **variable name**.

Now if we add **type_int and type_str_converted** we will get 14.

We did not assigned **int** type to sum_type, however, we the variables we added both were integers so python automatically assigned integer to sum_type.

In [28]:
sum_type = type_int + type_str_converted

print(sum_type)

type(sum_type)

14

int

**Converting a List to a Tuple**

In [37]:
type_list = [1,2,3]

type(type_list)

list

We can convert List into Tuple in following two easy ways

In [51]:
tuple(type_list) # First way of coverting list into a tuple

(1, 2, 3)

In [49]:
type(tuple(type_list))

tuple

In [55]:
type_list_tuple = tuple(type_list) # Second way

type(type_list_tuple)

tuple

**Converting List to a Set**

We can also convert List to a Set, but it may change the actual values within it. So let's create a new list and convert it

In [62]:
type_list = [1,2,3,4,3,2,1,3,2]

In [64]:
set(type_list)

{1, 2, 3, 4}

In [70]:
type(set(type_list))

set

While converting a list to a **Set** what it did is that it took the **unique values** and converted only those values into a set. So that is what we definitely need to be aware of that set only has unique values so it may change the data which was stored in origional list.

**Coverting Dictionary into a List**

In [74]:
type_dict = {'Name': 'Zohaib Ahmed', 'Position': 'Data Analyst', 'Expertise': 'SQL, Excel, Python'}

type(type_dict)

dict

What we can do with a dictionary is that if we want we can call or display all of the **items**, **values** or **keys** using seperate code for each one.

In [79]:
type_dict.items() # to call all itmes of a dictionary. An item in dictionary is a pair of key/value pair.

dict_items([('Name', 'Zohaib Ahmed'), ('Position', 'Data Analyst'), ('Expertise', 'SQL, Excel, Python')])

In [81]:
type_dict.values() # displaying values of a dictionary

dict_values(['Zohaib Ahmed', 'Data Analyst', 'SQL, Excel, Python'])

In [83]:
type_dict.keys() # extracting keys

dict_keys(['Name', 'Position', 'Expertise'])

Let's suppose that we want all the **keys** in a dictionary and put them into a **list**. So what we will do is that we will type in **list** and within parenthesis **()** we will put the entire expression/code with which we call keys from a dictionary.

In [108]:
list(type_dict.keys())

['Name', 'Position', 'Expertise']

In [113]:
type(list(type_dict.keys())) # To confirm the type of the list

list

We can convert values into a list using exact same way

In [115]:
list(type_dict.values()) # Converting vlaues in a dictionary to a list

['Zohaib Ahmed', 'Data Analyst', 'SQL, Excel, Python']

In [117]:
type(list(type_dict.values()))

list

**Converting Longer Strings**

In [123]:
long_str = 'I like programming'

list(long_str) # Converting a long string into a list

['I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'p',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g']

So it took every single character in our string and put it into the list. And we can also convert this long string into a **set** as well

In [126]:
set(long_str)

{' ', 'I', 'a', 'e', 'g', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r'}

Set is a lot shorter as compare to list because set only includes unique values.