# DATA TYPES

Data types are the classification of data that we are storing. 

These classifications tell us what type of operations can be performed on our data.

The main data types in python are **Numeric**, **Boolean**, **Sequence data types**, **Sets** and **Dictionaries**.

# Numeric

Numeric data types are further classified into three types: 
- Integers 
- Floats
- Complex

- **Integers**

An integer is basically a whole number. It could be positive or negative. 

An integer will remain an integer even if we perfom operations on it.

In [24]:
x = 20

print(type(x))

<class 'int'>

In [25]:
y = -20

print(type(y))

<class 'int'>

In [26]:
z = 20 + 20

print(type(z))

<class 'int'>

**Floats** 

When there is a decimal in a number, it's data type will be float. **All decimals are floats in python**.

In [28]:
a = 20.20

print(type(a))

<class 'float'>

**Complex**

We can use complex for imaginary numbers such as 10j where **j** is used as imaginary number.

If we use anything else instead of j like c, k, m it will not work.

In [30]:
i = 20 + 10j

print(type(i))

<class 'complex'>

# Boolean

Boolean data type only has two built-in values either **TRUE** or **FALSE**.

We can use it as a comparison operator.

In [32]:
prod_1 = 20

In [33]:
prod_2 = 30

In [34]:
prod_3 = 10

In [35]:
prod_3 > prod_1

False

In [36]:
type(prod_3 > prod_1)

bool

In [37]:
prod_3 <= prod_2

True

In [38]:
type(prod_3 <= prod_2)

bool

# Sequence Data Types

Sequence data types are further divided in three types. 

- Strings
- Lists
- Tuples

- **Strings**

When we use strings we put them in single, double or in triple quotes called **multiline** because we can write on multiple lines.

In [41]:
'Single Quotes'

'Single Quotes'

In [42]:
type('Single Quotes')

str

In [43]:
"Double Quotes"

'Double Quotes'

In [44]:
type("Double Quotes")

str

In [45]:
multi_line = """
When you are feeling the pain,
you can walk in the rain,
if it is winter it will not go in vain.
"""

In [46]:
print(multi_line)

When you are feeling the pain,
you can walk in the rain,
if it is winter it will not go in vain.

In [47]:
type(multi_line)

str

We can not use a single quote within single quotes and a double quote within double quotes

In [49]:
'I don't have time today'  # To negate this error we will use Double Quotes if we have a single quote in our values

SyntaxError: unterminated string literal (detected at line 1) (2553047763.py, line 1)

In [ ]:
"I don't have time today"

In [ ]:
" I don't have "time" today" # This will also not work if we have double quotes in our values we will use Triple Quotes

In [ ]:
x = """ I don't have "time" today """

In [ ]:
print(x)

Strings can be **INDEXED**, meaning that we can search within a string. Index always starts at **zero**.

In [87]:
x = 'Zohaib Ahmed'

In [89]:
print(x[:4]) #To print 4 characters

Zoha

In [91]:
print(x[:8]) # Extracting 8 characters

Zohaib A

To extract a specific word or alphabet we will remove colon : and just type in the number on which our word is located.

In [97]:
print(x[7])

A

To extract something starting from the end of the string we will use negative sign with the number. For instance, **-3**

In [101]:
print(x[-3])

m

To avoid specified zero at start we can use a **range** to extract something from middle of the string. Such as [2:3]

In [104]:
print(x[3:6])

aib

We can multiply and add a string with a number.

In [106]:
x * 3

'Zohaib AhmedZohaib AhmedZohaib Ahmed'

In [108]:
x + x

'Zohaib AhmedZohaib Ahmed'

- **Lists**

Lists are fantastic because we can store multiple values in a list. We seperate values in a list using a comma.

We can add any type of values in a list and we can even add a list within a list, basically a **nested list**. 

To create a list we put brackets **[]** around our values. 

Lists are changeable meaning that we can **add**, **remove** or **update** objects in **lists**.

In [112]:
[1,2,3]

[1, 2, 3]

In [114]:
['Pirates of the Carrabian: The Curse of the Black Pearl', 'Fury', 'The Outlaw King']

['Pirates of the Carrabian: The Curse of the Black Pearl',
 'Fury',
 'The Outlaw King']

In [116]:
['Eggs', 'Butter', 'Cookies', 20, ['Chocolate','Candy','Ice cream'], 10>20, True]

['Eggs',
 'Butter',
 'Cookies',
 20,
 ['Chocolate', 'Candy', 'Ice cream'],
 False,
 True]

We can add items to a list using **append function**. It will append new items to the end of the list.

We can have only **one** argument in append function meaning that we can add one item in one append function.

In [119]:
favourite_movies = ['Pirates of the Carrabian: The Curse of the Black Pearl', 'Fury', 'The Outlaw King']

favourite_movies.append('A Beautiful Mind')

In [121]:
favourite_movies.append('Furiousa')

In [123]:
print(favourite_movies)

['Pirates of the Carrabian: The Curse of the Black Pearl', 'Fury', 'The Outlaw King', 'A Beautiful Mind', 'Furiousa']

In [125]:
type(favourite_movies)

list

**To change existing values with new values in a list**. We will type in **list name** then in square brackets **[ ]** the **index number** of the value that we want to change. Followed by equal to sign **=** and then a **new value** within parenthesis **( )** and qoutes **' '**. 

list_name[index number of a value] = ('new value')

In [132]:
favourite_movies[2] = ('Interstellar')

In [134]:
favourite_movies[3] = ('The Revenant')

In [136]:
print(favourite_movies)

['Pirates of the Carrabian: The Curse of the Black Pearl', 'Fury', 'Interstellar', 'The Revenant', 'Furiousa']

We can have a list within a list, basically a **nested list**.

In [139]:
nested_list = ['Eggs', 'Butter', 'Cookies', 20, ['Chocolate','Candy','Ice cream'], 10>20, True]

In [141]:
nested_list[0]

'Eggs'

We can have lists within lists and all of them will have indexing that we can call. 

Now we can call nested list using index number **4** and then call any value from that list using index number of nested list such as Candy at number **1** because index starts at zero.

In [145]:
nested_list[4][1]

'Candy'

- **Tuples**

Tuples are **immutables** meaning that they cannot be changed once created.

Typically we will use Tuples when data is never going to be changed. For example, a ciyt name, country or location etc.

We put parenthesis **()** around values in a tuple and we can also index a tuple but **we cannot change a tuple**.

In [149]:
first_tuple = (1,2,3,4,2,1)

In [151]:
type(first_tuple)

tuple

**Indexing a tuple**

In [155]:
first_tuple[3]

4

**NOTE:** We cannot use functions like append, del or update on tuples.

# Sets

Sets are somewhat similar to lists and tuples but, they are slightly different in a way that they **don't have duplicate values**.

Another big difference is that values in **a Set cannot be accessed using Index** because sets don't have index as they are unordered.

We can loop through sets such as For Loop.

We put Curly brackets **{ }** around values and seperate them using a **comma**

In [179]:
first_set = {1,2,3}

In [181]:
print(first_set)

{1, 2, 3}

In [183]:
type(first_set)

set

In real world a use case of **sets** for us may be comparing two sets together.

In [186]:
my_weekly_tasks = {1,2,3,12,1,2,3,4,5,8,9}

When we print my_weekly_tasks set it will just display unique values because **sets don't have duplicate values**.

In [189]:
print(my_weekly_tasks)

{1, 2, 3, 4, 5, 8, 9, 12}

In [191]:
my_colge_tasks = {1,2,3,18,2,3,5,6,7,8,10}

We have two Sets containing my and my collegue's weekly tasks. Now we will compare these sets 

For first comparison we will use a BAR **|** in print statement and it will give us unique values from both sets.

Its like putting everything in one set and then trimming down them to unique values.

In [201]:
print(my_weekly_tasks | my_colge_tasks)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 18}

To extract matches from both sets we will use ampersand sign **&**. It will display values which showed up in both sets.

In [205]:
print(my_weekly_tasks & my_colge_tasks)

{1, 2, 3, 5, 8}

To do opposite of matches we will use minus sign **-**

In [208]:
print(my_weekly_tasks - my_colge_tasks)

{9, 4, 12}

In [210]:
print(my_colge_tasks - my_weekly_tasks)

{10, 18, 6, 7}

For our last comparison we will use **caret ^** sign and it will show if a value is in one or another set but not in both.

And these values will be completely unique only to each of those sets.

In [212]:
print(my_weekly_tasks ^ my_colge_tasks)

{4, 6, 7, 9, 10, 12, 18}

# Dictionaries

Dictionary is the most different data type in python. Dictionary uses **KEY | VALUE pair**.

Instead of using comma to seperate values in Dictionary we have a Key that indicates what that value is attributed to?

We put curly brakets around Key/Value pairs. We can add lists to a dictionary as well.

We make Key/Value pair using a colon **:** sign. For instance, 'city':'London' then type a comma to add other pairs.

In [217]:
movies_dict = {'Name': 'Zohaib Ahmed', 'Movies': 4, 'Fav_movies': ['Fury', 'Interstellar', 'Troy']}

In [219]:
print(movies_dict)

{'Name': 'Zohaib Ahmed', 'Movies': 4, 'Fav_movies': ['Fury', 'Interstellar', 'Troy']}

In [221]:
type(movies_dict)

dict

To show all the values in our dictionary

In [225]:
movies_dict.values()

dict_values(['Zohaib Ahmed', 4, ['Fury', 'Interstellar', 'Troy']])

To print all the Keys in our dictionary

In [227]:
movies_dict.keys()

dict_keys(['Name', 'Movies', 'Fav_movies'])

A pair of Key and Value is called **item**. For instance, 'Name':'Zohaib Ahmed'

In [230]:
movies_dict.items()

dict_items([('Name', 'Zohaib Ahmed'), ('Movies', 4), ('Fav_movies', ['Fury', 'Interstellar', 'Troy'])])

One difference between a List and a Dictionary is how we call the index? **Dictionary doesn't have index technically**.
We use a **KEY to call a dictionary** so we can specify what we want to call and take it out from a dictionary.

In [233]:
movies_dict['Name']

'Zohaib Ahmed'

**Updating information ia a dictionary**. 

We can change the Value of any Key in a dictionary.

Let's change the 'Name' from 'Zohaib Ahmed' to 'Mohaib Ahmed'

In [235]:
movies_dict['Name'] = 'Mohaib Ahmed'

print(movies_dict)

{'Name': 'Mohaib Ahmed', 'Movies': 4, 'Fav_movies': ['Fury', 'Interstellar', 'Troy']}

To Update everything at once we will use **UPDATE function**. We can not only add new pairs but also change existing values.

It will add new key/value pairs without deleting old pairs. To delete values we use delete function.

In [239]:
movies_dict.update({'Name': 'Zohaib Ahmed', 'Movies': 5, 'Monthly_Cost': 600})

In [241]:
print(movies_dict)

{'Name': 'Zohaib Ahmed', 'Movies': 5, 'Fav_movies': ['Fury', 'Interstellar', 'Troy'], 'Monthly_Cost': 600}

To delete key/value pairs we need to use **DEL function**.
Update function only adds new key/value pairs and change existing values. Let's **delete Monthly_Cost key** and its value 600.

In [244]:
del movies_dict['Monthly_Cost']

In [246]:
print(movies_dict)

{'Name': 'Zohaib Ahmed', 'Movies': 5, 'Fav_movies': ['Fury', 'Interstellar', 'Troy']}